.content-card {
    width: 12rem;
    overflow: hidden;
}

.movie-poster {
    height: 18rem;
}

.movie-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;

    /* Prevent long titles from overflowing */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.movie-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
}