.content-card {
    width: 12rem;
    overflow: hidden;
}



.movie-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
    font-family: 'Montserrat';


    /* Prevent long titles from overflowing */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.movie-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
}