.fetch-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    flex-direction: column;
    display: flex;
    background-color: red;
    padding: 1rem;
    box-shadow: 0 3px 10px 0 #aaa;
    border: 1px solid black;
    cursor: pointer;
    margin: 1rem;
    /* filter: sepia(1); */
}